<div class="expert-pick table__row" data-movie-id="{{ movie.id }}">
    <div class="movie-poster table__column--shrinked">
        <img src="https://image.tmdb.org/t/p/w1280{{ movie.poster }}"/>
    </div>
    <div class="movie-title">
        <h3>{{ movie.title }}</h3>
    </div>
    <div class="table__column--shrinked table__column--multi-items">
        <button class="mdc-icon-button material-icons movie-watched-button">done</button>
        <button class="mdc-icon-button material-icons movie-favorite-button">favorite</button>
        <button class="mdc-icon-button material-icons movie-info-button">info</button>
    </div>
</div>
