$chat-margin: 8px;
$bot-messages-left-offset: $chat-margin + 36px;

.chat {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#chat__content {
    overflow: hidden scroll;
    flex-grow: 1;
}

.chat__send-field {
    height: 55px;
    padding: 8px;

    .mdc-text-field {
        width: 100%;
    }
}

.text-field {
    display: flex;
    align-items: center;
}

#send-message-button {
    color: $mdc-theme-secondary;

    &:disabled {
        color: rgba($mdc-theme-secondary, 0.38);
    }
}

.message__list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    position: relative;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    & > :first-child {
        margin-top: 16px;
    }
}

.message__item {
    max-width: 50%;
    clear: both;
}

.message__item--bot {
    float: left;
}

.message__item--user {
    float: right;
    text-align: right;
}

.message {
    padding: 8px 15px;
    margin-top: 2px;
    display: inline-block;
    text-align: left;
}

.message--bot {
    background-color: #eee;
    border-radius: 20px;
    margin-left: $bot-messages-left-offset;
}

.message--user {
    background-color: $mdc-theme-primary-light;
    color: #fff;
    border-radius: 20px;
    margin-right: $chat-margin;
}

.message__movie-list {
    width: calc(100% - #{$bot-messages-left-offset});
    margin-left: $bot-messages-left-offset;
    padding: 2px 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .movie-card {
        max-width: 400px;
        margin-right: 8px;
        flex: 0 0 auto;
    }
}

.bot__image {
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: 3px;
    left: $chat-margin;
    border-radius: 20px;
}
