.home {
    background-image: url("../images/background.png");
    background-position: right bottom;
    background-size: auto 100%;
    background-repeat: no-repeat;

    .mdc-top-app-bar {
        background: rgba($mdc-theme-primary, 0.9);
    }
}

.init a {
    text-decoration: none;
}

.init .mdc-top-app-bar__row,
.init__grid {
    margin: 0 auto;
}

.init .mdc-top-app-bar__row,
.home__grid {
    width: 70%;
}

.register__grid {
    width: 25%;
}

.init__content,
.init__main-content,
.init__grid,
.init__grid > .mdc-layout-grid__inner {
    height: 100%;
}

.init__grid .mdc-layout-grid__cell {
    align-self: center;
}

.init__text-input {
    height: 50px;
    display: flex;
    margin-bottom: 32px;
}

.service-slogan {
    margin: -32px 0 0 0;
    color: lighten(#000000, 20%);
    font-family: "Cabin", sans-serif;
    font-weight: bold;
}

.service-description {
    margin: 24px 0 32px 0;
    color: lighten(#000000, 40%);
}

.home .register-button {
    margin-left: 8px;
}

.proceed-button {
    margin-top: 40px;
}
