.home {
    background-image: url("../images/background.png");
    background-position: right bottom;
    background-size: auto 100%;
    background-repeat: no-repeat;

    .mdc-top-app-bar {
        background: rgba($mdc-theme-primary, 0.9);
    }
}

.login,
.register {
    display: flex;
    flex-direction: column;

    .mdc-top-app-bar {
        display: block;
        position: relative;
    }
}

.init a {
    text-decoration: none;
}

.init .mdc-top-app-bar__row,
.init__grid {
    margin: 0 auto;
}

.init .mdc-top-app-bar__row,
.home__grid {
    width: 100%;

    @media screen and (min-width: 600px) {
        width: 70%;
    }
}

.init__content,
.init__main-content,
.init__grid,
.init__grid > .mdc-layout-grid__inner {
    height: 100%;
}

.init__grid .mdc-layout-grid__cell {
    align-self: center;
}

.init__text-input {
    display: flex;
    margin-top: 32px;
}

.service-slogan,
.register__heading {
    margin: 0;
    color: lighten(#000000, 20%);
    font-family: "Cabin", sans-serif;
    font-weight: bold;
}

.service-slogan {
    margin: -32px 0 0 0;
}

.service-description,
.register__terms {
    margin: 24px 0 32px 0;
    color: lighten(#000000, 40%);

    a {
        color: lighten(#000000, 40%);
        font-weight: bold;
    }
}

.login-button,
.init .register-button,
.login .register-button {
    margin-top: 32px;
}

.home .register-button,
.login .register-button {
    margin-left: 8px;
}

.proceed-button {
    margin-top: 40px;
}

.register__container {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.register__inner {
    overflow-y: auto;
}

.register__content {
    max-width: 400px;
    padding: 16px;
    margin: auto;
    flex-shrink: 0;
}
