.logo {
    width: 32px;
}

.logo-text {
    margin-left: 12px;
    color: #ffffff;
    font-size: 24px;
    font-family: "Cabin";
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.service {
    display: flex;
    flex-direction: column;
}

.service__content {
    width: 100%;
    margin: 0 auto;
    padding-top: $mdc-top-app-bar-row-height;
    display: flex;
    flex-grow: 1;
    overflow: hidden;

    @media (max-width: $mdc-top-app-bar-mobile-breakpoint) {
        padding-top: $mdc-top-app-bar-mobile-row-height !important;
    }
}

.service__main-content {
    flex-grow: 1;
    max-width: 100%;

    @include mdc-layout-grid-media-query_(desktop) {
        max-width: calc(100% - #{$mdc-drawer-width});
    }
}

@include mdc-layout-grid-media-query_(desktop) {
    .mdc-drawer {
        display: block;
        position: relative;
        box-shadow: none;
    }

    .mdc-top-app-bar__navigation-icon {
        display: none;
    }
}

/* Table */

.table__row {
    height: 64px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    &:nth-child(2n) {
        background: #f6f6f5;
    }

    & > * {
        flex: 1;  // all columns have same width and height
    }
}

.table__column--shrinked {
    flex: 0
}

.table__column--multi-items {
    display: flex;
}
