$card-spacing: 16px;

$movie-list-span: (
  desktop: 3,  // 1/4
  tablet: 4,   // 1/2
  phone: 2     // 1/2
);

.favorites, .watched {
    height: 100%;
    overflow-y: auto;
    background: #f7f7f7;

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.movie-card {
    display: inline-flex;
    flex-direction: column;

    img {
        width: 100%;
    }

    .collected-list & {
        @each $size in phone, tablet, desktop {
            @include mdc-layout-grid-media-query_($size) {
                @include mdc-layout-grid-cell($size, map-get($movie-list-span, $size),
                        map-get($mdc-layout-grid-default-gutter, $size));
            }
        }
    }
}

.movie-card__content {
    padding: $card-spacing $card-spacing 0 $card-spacing;
    box-sizing: border-box;
    flex-grow: 1;

    .mdc-typography--headline6 {
        margin: 0 0 $card-spacing / 2 0;
    }
}

.movie-card__actions {
    margin-bottom: $card-spacing / 2;
    display: flex;
    justify-content: flex-end;
}

#movie-info {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100%;
    left: 0;
    overflow-x: hidden;
    z-index: 30;
    background: #ffffff;
    transition: 0.5s;

    &.visible {
        top: 0;
    }
}

.movie-info-header {
    background: none;
    position: relative;
}

.movie-info__grid {
    max-width: 1350px;
    margin: 0 auto;

    .mdc-typography--headline6 {
        margin: $card-spacing 0 $card-spacing / 2 0;
    }
}

.movie-info__poster {
    width: 90%;

    @include mdc-layout-grid-media-query_(phone) {
        width: 100%;
    }
}

.movie-info__name {
    margin: $card-spacing / 2 0;
    font-family: "Cabin", sans-serif;
    font-weight: bold;
}

.movie-info__year {
    color: lighten(#000000, 40%);
    font-size: 0.75em;
    font-weight: normal;
}

.movie-info__rating {
    display: flex;
    align-items: flex-end;

    .movie-info__number-rating {
        font-size: 18px;
        margin-left: 8px;
    }
}

.movie-info__star {
    color: #fdd835;
}

.movie-info__overview {
    margin: 16px 0;
}

.movie-info__cast {
    @include mdc-layout-grid-cell("phone", 2, 16px);

    @include mdc-layout-grid-media-query_(desktop) {
        @include mdc-layout-grid-cell("desktop", 3, 16px);
    }

    @include mdc-layout-grid-media-query_(tablet) {
        @include mdc-layout-grid-cell("tablet", 2, 16px);
    }

    img {
        width: 100%;
    }

    p:first-of-type {
        margin: 16px 16px 8px 16px;
    }

    p:last-of-type {
        margin: 0 16px 16px 16px;
    }
}

.cast-card__name {
    font-weight: bold;
}

.movie-favorite-button.active {
    color: red;
}

.movie-watched-button.active {
    color: dodgerblue;
}
