.expert-picks {
    height: 100%;
    overflow-y: auto;
    background: #f7f7f7;
}

.expert-picks__header {
    display: flex;
    justify-content: space-between;
    margin: 8px 16px 0 16px;

    & > * {
        margin: 0;
        align-self: center;
    }
}

.expert-picks__content {
    margin: 16px;
}

.expert-pick {
    height: 80px;
}

.movie-poster {
    height: 100%;

    img {
        height: 100%;
    }
}

.movie-title {
    margin-left: 16px;
}

.movie-title-input {
    width: 100%;
    margin-bottom: 16px;
}
