.expert-picks,
.add-expert-picks {
    height: 100%;
    padding: map-get($mdc-layout-grid-default-margin, phone);
    overflow-y: auto;
    background: #f7f7f7;

    @include mdc-layout-grid-media-query_(tablet) {
        padding: map-get($mdc-layout-grid-default-margin, tablet);
    }

    @include mdc-layout-grid-media-query_(desktop) {
        padding: map-get($mdc-layout-grid-default-margin, desktop);
    }
}

.expert-picks__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    & > * {
        margin: 0;
        align-self: center;
    }
}

.expert-picks__content {
    margin: 16px 0;
}

.expert-pick {
    height: 80px;
}

.movie-poster {
    height: 100%;

    img {
        height: 100%;
    }
}

.movie-title {
    margin-left: 16px;
}

.movie-title-input {
    width: 100%;
    margin-bottom: 16px;
}
