@import "variables";
@import "chartist/dist/scss/chartist";

.statistics {
    height: 100%;
    overflow-y: auto;
    background: #f7f7f7;

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.statistics__card {
    padding: 16px;

    h3 {
        margin: 0 0 8px 0;
        color: #3a3a3a;
        text-align: center;
    }
}

.ct-label {
    fill: rgba(255, 255, 255, 0.8);
}

.statistics__users {
    height: 300px;
}

.ct-series-a .ct-bar {
    stroke-width: 20px;
}

.ct-series-a .ct-line,
.ct-series-a .ct-bar,
.ct-series-a .ct-point {
    stroke: nth($base-colors, 1);
}

.ct-series-a .ct-area {
    fill: nth($base-colors, 1);
}
