$mdc-theme-primary: #2e2a5d !default;
$mdc-theme-primary-light: #897fbb;
$mdc-theme-secondary: #00b0ff !default;

@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/dialog/mdc-dialog";
@import "@material/drawer/mdc-drawer";
@import "@material/elevation/mdc-elevation";
@import "@material/icon-button/mdc-icon-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/list/mdc-list";
@import "@material/select/mdc-select";
@import "@material/textfield/mdc-text-field";
@import "@material/theme/mdc-theme";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";

@import "_admin";
@import "_chat";
@import "_common";
@import "_init";
@import "_layout";
@import "_movies";
@import "_picks";
@import "_stats";
