[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
tmdbsimple = "*"
django-widget-tweaks = "*"

[dev-packages]
pytest = "*"
pytest-flake8 = "*"

[requires]
python_version = "3.6"
