{% extends 'base-with-side-menu.html' %}
{% load static %}

{% block content %}

    <div class="add-expert-picks">
        <input type="hidden" id ="changes-made" value = "{{changes}}">
        <input type="hidden" id ="picks-code" value = "{{code}}">

        <div class="expert-picks__header">
            <h2 class="mdc-typography--headline5">Expert picks: {{category}}</h2>
            <div>
                <button class="mdc-button mdc-button--raised" id="add-pick-button">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">add</i>
                    <span class="mdc-button__label">Add movie</span>
                </button>
                <button class="mdc-button mdc-button--raised" id = "save-picks-button">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">save</i>
                    <span class="mdc-button__label">Save</span>
                </button>
            </div>
        </div>

        <div class="mdc-card expert-picks__content">

        {% for movie in movies %}

            <div class="expert-pick table__row">
                {% include 'components/top-picks.html' %}
                {% include 'components/add-expert-picks-buttons.html' %}
            </div>

        {%endfor%}

        </div>
    </div>

<template id="template-expert-pick">
    <div class="expert-pick table__row">
        <div class="movie-poster table__column--shrinked">
            <img class ="expert-pick-img"/>
        </div>
        <div class="movie-title">
             <h3 class="expert-pick-header"></h3>
        </div>
        <input type="hidden" class="hidden-id">
        {% include 'components/add-expert-picks-buttons.html' %}
    </div>
</template>

{% endblock %}

{% block bottom %}

    {% include 'components/add-movie-dialog.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'scripts/main.js' %}"></script>

{% endblock %}
