{% extends 'base.html' %}
{% load static %}

{% block body %}
<body class="service">
    <!-- Top App Bar -->
    {% include 'components/top-app-bar.html' %}

    <div class="service__content">
        <!-- Drawer menu bar -->
        <aside class="mdc-drawer">
            <div class="mdc-drawer__content">
                <nav class="mdc-list">
                    <a class="mdc-list-item mdc-list-item--activated" href="#" aria-selected="true">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">chat_bubble</i>
                        <span class="mdc-list-item__text">Chat</span>
                    </a>
                    <a class="mdc-list-item" href="favorites.html">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">favorite</i>
                        <span class="mdc-list-item__text">Favorites</span>
                    </a>
                    <a class="mdc-list-item" href="watched.html">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">movie</i>
                        <span class="mdc-list-item__text">Watched</span>
                    </a>
                    <a class="mdc-list-item" href="expert-picks.html">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">stars</i>
                        <span class="mdc-list-item__text">Expert picks</span>
                    </a>
                    <hr class="mdc-list-divider">
                    <a class="mdc-list-item" href="add-expert-picks.html">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">library_add</i>
                        <span class="mdc-list-item__text">Add expert picks</span>
                    </a>
                    <a class="mdc-list-item" href="stats.html">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">bar_chart</i>
                        <span class="mdc-list-item__text">Statistics</span>
                    </a>
                    <a class="mdc-list-item" href="admin.html">
                        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">supervised_user_circle</i>
                        <span class="mdc-list-item__text">Admin dashboard</span>
                    </a>
                </nav>
            </div>
        </aside>

        <!-- Content -->
        <main class="service__main-content">
            <div class="chat">
                <div id="chat__content">
                    <div class="message__list">
                        <div class="message__item message__item--user">
                            <span class="message message--user">Hello</span>
                        </div>
                    </div>
                    <div class="message__list">
                        <img class="bot__image" src="{% static 'images/logo.svg' %}">
                        <div class="message__item message__item--bot">
                            <span class="message message--bot">Hello!</span>
                        </div>
                        <div class="message__item message__item--bot">
                            <span class="message message--bot">How can I help you?</span>
                        </div>
                    </div>
                    <div class="message__list">
                        <div class="message__item message__item--user">
                            <span class="message message--user">I want to watch a movie</span>
                        </div>
                    </div>
                    <div class="message__list">
                        <img class="bot__image" src="{% static 'images/logo.svg' %}">
                        <div class="message__item message__item--bot">
                            <span class="message message--bot">These movies are popular right now:</span>
                        </div>
                        <div class="message__movie-list">
                            <div class="mdc-card movie-card" data-movie-id="332562">
                                <img src="https://image.tmdb.org/t/p/w400/wqtaHWOEZ3rXDJ8c6ZZShulbo18.jpg">
                                <div class="movie-card__content">
                                    <h3 class="mdc-typography--headline6">A star is born</h3>
                                    <p class="mdc-typography--body2">Seasoned musician Jackson Maine discovers — and falls in love with — struggling artist Ally. She has just about given up on her dream to make it big as a singer — until Jack coaxes her into the spotlight...</p>
                                </div>
                                <div class="movie-card__actions">
                                    <button class="mdc-icon-button material-icons">done</button>
                                    <button class="mdc-icon-button material-icons">favorite</button>
                                    <button class="mdc-icon-button material-icons movie-info-button">info</button>
                                </div>
                            </div>
                            <div class="mdc-card movie-card" data-movie-id="399579">
                                <img src="https://image.tmdb.org/t/p/w400/aQXTw3wIWuFMy0beXRiZ1xVKtcf.jpg">
                                <div class="movie-card__content">
                                    <h3 class="mdc-typography--headline6">Alita: Battle Angel</h3>
                                    <p class="mdc-typography--body2">When Alita awakens with no memory of who she is in a future world she does not recognize, she is taken in by Ido, a compassionate doctor who realizes that somewhere in this abandoned cyborg shell is the heart and soul of a young woman with an extraordinary past.</p>
                                </div>
                                <div class="movie-card__actions">
                                    <button class="mdc-icon-button material-icons">done</button>
                                    <button class="mdc-icon-button material-icons">favorite</button>
                                    <button class="mdc-icon-button material-icons movie-info-button">info</button>
                                </div>
                            </div>
                            <div class="mdc-card movie-card" data-movie-id="490132">
                                <img src="https://image.tmdb.org/t/p/w400/78PjwaykLY2QqhMfWRDvmfbC6EV.jpg">
                                <div class="movie-card__content">
                                    <h3 class="mdc-typography--headline6">Green Book</h3>
                                    <p class="mdc-typography--body2">Tony Lip, a bouncer in 1962, is hired to drive pianist Don Shirley on a tour through the Deep South in the days when African Americans, forced to find alternate accommodations and services due to segregation laws below the Mason-Dixon Line, relied on a guide called The Negro Motorist Green Book.</p>
                                </div>
                                <div class="movie-card__actions">
                                    <button class="mdc-icon-button material-icons">done</button>
                                    <button class="mdc-icon-button material-icons">favorite</button>
                                    <button class="mdc-icon-button material-icons movie-info-button">info</button>
                                </div>
                            </div>
                            <div class="mdc-card movie-card" data-movie-id="">
                                <img src="https://image.tmdb.org/t/p/w400/bUx67M5KgeyuXIQT1OyH8fK4XVq.jpg">
                                <div class="movie-card__content">
                                    <h3 class="mdc-typography--headline6">If Beale Street Could Talk</h3>
                                    <p class="mdc-typography--body2">After her fiance is falsely imprisoned, a pregnant African-American woman sets out to clear his name and prove his innocence.</p>
                                </div>
                                <div class="movie-card__actions">
                                    <button class="mdc-icon-button material-icons">done</button>
                                    <button class="mdc-icon-button material-icons">favorite</button>
                                    <button class="mdc-icon-button material-icons movie-info-button">info</button>
                                </div>
                            </div>
                            <div class="mdc-card movie-card" data-movie-id="">
                                <img src="https://image.tmdb.org/t/p/w400/kq23EdE5nUyOsfxnGYDGsAqsl7n.jpg">
                                <div class="movie-card__content">
                                    <h3 class="mdc-typography--headline6">Jurassic World: Fallen Kingdom</h3>
                                    <p class="mdc-typography--body2">Three years after the demise of Jurassic World, a volcanic eruption threatens the remaining dinosaurs on the isla Nublar, so Claire Dearing, the former park manager, recruits Owen Grady to help prevent the extinction of the dinosaurs once again.</p>
                                </div>
                                <div class="movie-card__actions">
                                    <button class="mdc-icon-button material-icons">done</button>
                                    <button class="mdc-icon-button material-icons">favorite</button>
                                    <button class="mdc-icon-button material-icons movie-info-button">info</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="message__list">
                        <div class="message__item message__item--user">
                            <span class="message message--user">Thank you</span>
                        </div>
                    </div>
                    <div class="message__list">
                        <img class="bot__image" src="{% static 'images/logo.svg' %}">
                        <div class="message__item message__item--bot">
                            <span class="message message--bot">Have a nice day</span>
                        </div>
                        <div class="message__item message__item--bot">
                            <span class="message message--bot">Bye</span>
                        </div>
                    </div>
                </div>

                <!-- Field for sending text -->
                <form method="post" id="chat-form">
                    <div class="chat__send-field mdc-elevation--z10">
                        <div class="mdc-text-field text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon mdc-text-field--no-label">
                            <input type="text" class="mdc-text-field__input" id="send-message-text-field" placeholder="Send message..." autocomplete="off">
                            <button class="mdc-icon-button material-icons" id="send-message-button" type="submit">send</button>
                            <div class="mdc-notched-outline mdc-notched-outline--no-label">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </main>
    </div>

    {% include 'components/movie-info-overlay.html' %}

    <template id="template-user-message">
        {% include 'messages/user-message.html' with message='' %}
    </template>

    <template id="template-user-message-list">
        {% include 'messages/message-list.html' with is_bot=False messages='' %}
    </template>

    <template id="template-bot-message">
        {% include 'messages/bot-message.html' with message='' %}
    </template>

    <template id="template-bot-message-list">
        {% include 'messages/message-list.html' with is_bot=True messages='' %}
    </template>

    <template id="template-movie-card">
        {% include 'messages/movie-card.html' with movie='' %}
    </template>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
</body>
{% endblock %}
