{% extends 'base-with-side-menu.html' %}
{% load static %}

{% block content %}

    <div class="{{ type|lower }}">
        {% if user.is_authenticated %}
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <h2 class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-typography--headline5">{{ type }} </h2>

                    {% for movie in movies %}
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-card movie-card" data-movie-id="{{ movie.id }}">
                        <img src="https://image.tmdb.org/t/p/w400{{ movie.backdrop }}">
                        <div class="movie-card__content">
                            <h3 class="mdc-typography--headline6">{{ movie.title }}</h3>
                            <p class="mdc-typography--body2">{{ movie.description }}</p>
                        </div>
                        <div class="movie-card__actions">
                            <button class="mdc-icon-button material-icons movie-watched-button {% if type == "Watched" %}active{% endif %}">done</button>
                            <button class="mdc-icon-button material-icons movie-favorite-button {% if type == "Favorites" %}active{% endif %}">favorite</button>
                            <button class="mdc-icon-button material-icons movie-info-button">info</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            {% with image='images/login-error.svg' title='Log in required' description='In order to see the list and add movies to it, you have to be logged in.' %}
                {% url 'login' as primary_action %}
                {% url 'register' as secondary_action %}
                {% include 'components/full-screen-message.html' with primary_button="Log in" secondary_button="Register" %}
            {% endwith %}
        {% endif %}
    </div>

{% endblock %}

{% block bottom %}

    {% include 'components/movie-info-overlay.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'scripts/main.js' %}"></script>

{% endblock %}
