{% extends 'base.html' %}
{% load static %}

{% block body %}
<body class="init home">
    <!-- Top App Bar -->
    {% include 'components/top-app-bar.html' %}

    <div class="init__content">
        <!-- Content -->
        <main class="init__main-content">
            <div class="mdc-layout-grid init__grid home__grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                        <h2 class="service-slogan mdc-typography--headline4">{{ login_headline }}</h2>
                        <p class="service-description mdc-typography--body1">{{ login_description_text }}</p>

                        <!-- login form -->
                        {% include 'components/login-form.html' %}

                        <div class="proceed-button">
                            <a href="{% url 'chat' %}">Proceed without login</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
{% endblock %}
